<div class="bg container login-container" fxLayout="row" fxLayoutAlign="center center">
    
    <form [formGroup]="loginForm" (ngSubmit)="login()" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">

        <mat-card>

            <mat-card-title>
                Scrumptious 
            </mat-card-title>
            <mat-card-subtitle>
                Log in to your account
                <div style="float: right;">
                    Not a member?
                    <a id="register" [routerLink]="['/auth/register']">Register</a>
                </div>
            </mat-card-subtitle>
            <mat-card-content>
                

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input id="emailInput" matInput placeholder="example@a.com" formControlName="email"
                        autocomplete="email" type="email" required>

                    <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
                        Email is
                        <strong>required</strong>
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password"
                        autocomplete="current-password" [type]="hide ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['password'].hasError('required')">
                        Password is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="full-width">
                    <mat-slide-toggle formControlName="rememberMe">Remember my email address</mat-slide-toggle>
                </div>

            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" type="submit"
                    [disabled]="loginForm.invalid || isLoading">Login</button>
                <button mat-button id="reset" type="reset">Reset</button>

            </mat-card-actions>

            <mat-card-footer>
                <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </form>
</div>
