<div class="bg">
    <div class="flex-container" fxLayout="row" fxLayoutAlign="center center"
        style="margin-top: 30px; margin-bottom: 200px;">

        <!-- fxFlex % is how much of the container (horizontally) the component takes up -->
        <!-- fxFlex.sm is for small or zoomed in screen and fxFlex.xs is for tiny screens -->
        <mat-card fxFlex="50%" fxFlex.sm="80%" fxFlex.xs="90%" fx>
            <mat-card-title>
                Scrumptious-Driver
            </mat-card-title>
            <mat-card-subtitle>
                Register new account
                <div style="float: right;">
                    Already a member?
                    <a id="register" [routerLink]="['/auth/login']">Login</a>
                </div>
            </mat-card-subtitle>
            <mat-card-content>
                <mat-stepper orientation="vertical" #stepper>
                    <mat-step [stepControl]="registrationForm" errorMessage="Errors exist">

                        <form [formGroup]="registrationForm">
                            <ng-template matStepLabel>General</ng-template>
                            <p>Enter general information about yourself.</p>
                            <!-- this grid is just so I don't have to do HTML for first and last name -->
                            <mat-grid-list cols="2" rowHeight="80px" gutterSize="10px">
                                <mat-grid-tile [colspan]="1" [rowspan]="1">
                                    <mat-form-field class="mat-form-field-readonly" class="full-width"
                                        appearance="outline">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First name" formControlName="firstName" required>
                                        <mat-error *ngIf="registrationForm.controls['firstName'].hasError('required')">
                                            First name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="1" [rowspan]="1">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Last name" formControlName="lastName" required>
                                        <mat-error *ngIf="registrationForm.controls['lastName'].hasError('required')">
                                            Last name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-grid-list cols="4" rowHeight="80px" gutterSize="10px">
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Phone number</mat-label>
                                        <input matInput mask="000-000-0000" placeholder="555-555-5555"
                                            formControlName="phone" required>
                                        <mat-error *ngIf="registrationForm.controls['phone'].hasError('required')">
                                            Phone number is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Date of birth</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="dob" [max]="maxDate"
                                            placeholder="02/25/1999">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker enabled="registrationForm.enabled">
                                        </mat-datepicker>
                                        <mat-error *ngIf="registrationForm.controls['dob'].invalid">
                                            Date must follow M(M)/d(d)/YYYY
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input id="emailInput" matInput placeholder="example@a.com" formControlName="email"
                                    autocomplete="email" type="email" required>

                                <mat-error id="invalidEmailError"
                                    *ngIf="registrationForm.controls['email'].hasError('email')">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error id="requiredEmailError"
                                    *ngIf="registrationForm.controls['email'].hasError('required')">
                                    Email is <strong>required</strong>
                                </mat-error>

                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>License No.</mat-label>
                                <input id="licenseInput" matInput placeholder="33333333" formControlName="licenseNo"
                                    autocomplete="licenseNo" required>

                                <mat-error id="invalidLicenseError"
                                    *ngIf="registrationForm.controls['licenseNo'].hasError('licenseNo')">
                                    Please enter a valid Driver License Number
                                </mat-error>
                                <mat-error id="requiredEmailError"
                                    *ngIf="registrationForm.controls['licenseNo'].hasError('required')">
                                    Driver License Number is <strong>required</strong>
                                </mat-error>


                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" formControlName="password" type="password"
                                    autocomplete="current-password" (input)="onPasswordInput()"
                                    [type]="hide ? 'password' : 'text'" required>
                                <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="Comfirm Password" formControlName="confirmPassword"
                                    type="password2" autocomplete="current-password" (input)="onPasswordInput()"
                                    [type]="hide2 ? 'password' : 'text'" required>
                                <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="registrationForm.controls['confirmPassword'].hasError('required')">
                                    Password is <strong>required</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="registrationForm.controls['confirmPassword'].invalid && !registrationForm.controls['confirmPassword'].hasError('required')">
                                    Passwords don't match
                                </mat-error>
                            </mat-form-field>
                            <!-- <mat-slide-toggle formControlName="veteranaryStatus">Are you a veteran?</mat-slide-toggle> -->
                            <br><br>
                            <button mat-button matStepperNext>Next</button>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="addressForm" errorMessage="Errors exist">

                        <form [formGroup]="addressForm">
                            <ng-template matStepLabel>Address</ng-template>
                            <p>Enter address information.</p>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Line one</mat-label>
                                <input matInput placeholder="1234 Main St." formControlName="line1" required>
                                <mat-error *ngIf="addressForm.controls['line1'].hasError('required')">
                                    Street address is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Line two</mat-label>
                                <input matInput placeholder="Apt. 34" formControlName="line2">
                            </mat-form-field>

                            <mat-grid-list cols="4" rowHeight="80px" gutterSize="10px">
                                <mat-grid-tile [colspan]="2" [rowspan]="1">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>City</mat-label>
                                        <input matInput placeholder="New York City" formControlName="city" required>
                                        <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                                            City is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="1" [rowspan]="1">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>State</mat-label>

                                        <mat-select formControlName="state" required>
                                            <mat-option *ngFor="let state of states" [value]="state">{{state}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                                            State is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="1" [rowspan]="1">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Zip code</mat-label>
                                        <input matInput placeholder="10001" formControlName="zip" required>
                                        <mat-error *ngIf="addressForm.controls['zip'].hasError('required')">
                                            Zip code is <strong>required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="addressForm.controls['zip'].hasError('pattern')">
                                            Must follow "55555"
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                            </mat-grid-list>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>All done! Click Register to complete registration.</p>
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-raised-button id="register" color="accent" type="submit" (click)="register()"
                            [disabled]="registrationForm.invalid || addressForm.invalid || isLoading">Register</button>
                    </mat-step>

                </mat-stepper>

            </mat-card-content>
            <mat-card-footer>
                <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>