<div class="navbar-container">

    <!-- Top navbar -->
    <mat-toolbar class="navbar" color="primary">

        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
            <h3>
                Scrumptious
            </h3>
        </a>

        <span class="navbar-spacer"></span>

        <mat-chip-avatar style="font-size:small;font-weight: 400; ">hello, John</mat-chip-avatar>
        <!-- <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
        </button> -->
        <!-- <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

            <a mat-menu-item [routerLink]="['/account/profile']">
                <mat-icon>person</mat-icon>
                <span>Account</span>
            </a>

            <a mat-menu-item [routerLink]="['/auth/login']">
                <mat-icon>exit_to_app</mat-icon>
                <span>Log out</span>
            </a>

        </mat-menu> -->

        <button mat-icon-button (click)="drawer2.toggle()">
            <mat-icon  matBadgeColor="accent">
                directions_car
            </mat-icon>
        </button>



    </mat-toolbar>

    <mat-sidenav-container class="navbar-sidenav-container">
        <!-- Side nav -->
        <mat-sidenav #drawer [opened]="(isHandset$ | async) === false" [mode]="(isHandset$ | async) ? 'over' : 'side'"
            fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" fixedTopGap="56"
            class="sidenav" position="start">

            <mat-nav-list>

                <a mat-list-item [routerLink]="['/home']" routerLinkActive="active">
                    <mat-icon mat-list-icon>
                        dashboard
                    </mat-icon>
                    <span mat-line> Dashboard </span>
                </a>

                <a mat-list-item [routerLink]="['/restaurants']" routerLinkActive="active">
                    <mat-icon mat-list-icon>
                        business
                    </mat-icon>
                    <span mat-line> Restaurants </span>
                </a>

                <a mat-list-item [routerLink]="['/history']" routerLinkActive="active">
                    <mat-icon mat-list-icon>
                        history
                    </mat-icon>
                    <span mat-line> Delivery History </span>
                </a>

                <mat-divider></mat-divider>

                <a mat-list-item [routerLink]="['/account/profile']">
                    <mat-icon mat-list-icon>person</mat-icon>
                    <span mat-line> Account </span>
                </a>

                <a mat-list-item (click)="logout()">
                    <mat-icon mat-list-icon>exit_to_app</mat-icon>
                    <span mat-line> Log out </span>
                </a>

                <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
                    <mat-icon mat-list-icon>
                        info_outline
                    </mat-icon>
                    <span mat-line> About </span>
                </a>
            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav #drawer2 [opened]="(isHandset$ | async) === false" [mode]="(isHandset$ | async) ? 'over' : 'side'"
            fixedInViewport style="width: 15%; min-width: 15%; max-width: 15%;"
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" fixedTopGap="56" position="end">

        </mat-sidenav>

        <!-- Main content -->
        <mat-sidenav-content class="sidenav-content">

            <div class="progress-bar-container">
                <!-- <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
                </mat-progress-bar> -->
                <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
            </div>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
